.body
  .leftcontent
    =render './layouts/side_bar'
  .rightcontent
    .rightcontent__header
      .rightcontent__header--group
        %p.rightcontent__header--group-groupname 
          =@group.name
        %p.rightcontent__header--group-member Menber:
        %ul 
          -@group.users.each do |user|
            =user.name

      =link_to("Edit" , edit_group_path(@group) ,class:"rightcontent__header--edit")
    .rightcontent__main
      = render @messages

    =form_for [@group, @message] do |f|
      .rightcontent--form
        .rightcontent--form--wrapper
          =f.text_field :content, class: "rightcontent--form--wrapper-input",placeholder:"type a message"
          =f.label :image, class: 'rightcontent--form--wrapper-image' do
            = fa_icon 'image'
            =f.file_field :image, class: 'hidden'
        =f.submit "Send", class:"rightcontent--form--submit"

